# Supabase - Reemplaza con tus credenciales
NEXT_PUBLIC_SUPABASE_URL=https://cawbihvcmvvyohdqbsmw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iNFueNwtazGwOY_tfrMHpA_W0g5xlQQ

# URL base del sitio (en produccion poner tu dominio de Vercel)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
